.outerContainer{
    color: black;
   
}
.innercontainer{
    max-width: 1300px;
    margin: 0 auto;
    height: fit-content;
    padding: 3rem 0;
}
.sectiontite {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black !important;
}
.cardcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:1rem;
}
@media (max-width:800px){
    .cardcontainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            padding: 1rem;
        }

}